.iphone-1415-pro-3 .vector-1 {
  width: 27.8px;
  height: 28.3px;
}
.iphone-1415-pro-3 .uilsetting {
  position: absolute;
  right: 100.5px;
  bottom: 18.8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 27.8px;
  height: 28.3px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .the-three-way-struggle-between-the-navy-the-blackbeard-pirates-and-the-kuja-pirates-comes-to-an-end-when-an-unexpected-figure-shows-up-on-the-sunny-the-straw-hats-talk-about-the-recent-incidents-and-luffys-words-surprise-everyone-the-three-way-struggle-between-the-navy-the-blackbeard-pirates-and-the-kuja-pirates-comes-to-an-end-when-an-unexpected-figure-shows-up-on-the-sunny-the-straw {
  position: absolute;
  left: 31px;
  bottom: 23px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 15px;
  background: linear-gradient(180deg, #868686 0%, rgba(74, 74, 74, 0.552) 27.24%, rgba(0, 0, 0, 0) 117.9%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.iphone-1415-pro-3 .vector-8 {
  width: 25.5px;
  height: 14.2px;
}
.iphone-1415-pro-3 .cihamburger-lg {
  margin: 9.9px 0 6.9px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25.5px;
  height: 14.2px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .manga {
  overflow-wrap: break-word;
  font-family: 'Poly';
  font-weight: 400;
  font-size: 26px;
  color: #000000;
}
.iphone-1415-pro-3 .vector-5 {
  width: 26.3px;
  height: 21.3px;
}
.iphone-1415-pro-3 .icons-8-buy {
  margin: 7.4px 0 2.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 26.3px;
  height: 21.3px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .container-5 {
  margin: 0 13.5px 3px 13.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 315.2px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .image-3 {
  background: url('assets/images/Image31.png') 50% / cover no-repeat;
  margin: 0 3px 11px 0;
  align-self: center;
  width: 202px;
  height: 314px;
}
.iphone-1415-pro-3 .container {
  margin-right: 19.5px;
  width: 41.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 26px;
  color: #000000;
}
.iphone-1415-pro-3 .container-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 26px;
  color: #000000;
}
.iphone-1415-pro-3 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 26px;
  color: #000000;
}
.iphone-1415-pro-3 .container-3 {
  border-radius: 25px;
  background: rgba(155, 155, 155, 0.6);
  position: relative;
  margin: 0 0 17px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 6px 0 5px 0;
  width: 186px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .one-piece-volume-100 {
  position: relative;
  margin-right: 95.9px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 26px;
  color: #000000;
}
.iphone-1415-pro-3 .vector-6 {
  width: 29.8px;
  height: 28.7px;
}
.iphone-1415-pro-3 .phstar-fill {
  margin: 24.1px 10.1px 64.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 29.8px;
  height: 28.7px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .container-3 {
  margin: 27px 0px 62px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 19px;
  color: #E18E12;
}
.iphone-1415-pro-3 .container-4 {
  margin: 0 13.2px 150px 0;
  display: flex;
  flex-direction: row;
  width: calc(100% - 13.2px);
  box-sizing: border-box;
}
.iphone-1415-pro-3 .vector-2 {
  width: 25.5px;
  height: 31.2px;
}
.iphone-1415-pro-3 .tdesignshop {
  position: relative;
  margin: 48.4px 37.3px 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25.5px;
  height: 31.2px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .vector {
  width: 28.3px;
  height: 26px;
}
.iphone-1415-pro-3 .mdiheart {
  margin: 52px 0 2.6px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 28.3px;
  height: 26px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .add-to-cart {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.iphone-1415-pro-3 .container-2 {
  border-radius: 25px;
  background: #A8D3FF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 0 15px 3.9px;
  width: 237px;
  height: fit-content;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .group {
  width: 31.2px;
  height: 31.2px;
}
.iphone-1415-pro-3 .ggprofile {
  position: absolute;
  right: 10.4px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 31.2px;
  height: 31.2px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 21.6px;
  width: 237px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .vector-7 {
  width: 28.3px;
  height: 26px;
}
.iphone-1415-pro-3 .mdiheart-1 {
  position: absolute;
  left: 7.6px;
  top: 16.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 28.3px;
  height: 26px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 327.8px;
  box-sizing: border-box;
}
.iphone-1415-pro-3 .ellipse-6 {
  position: absolute;
  left: 31px;
  bottom: 39px;
  width: 64px;
  height: 60px;
}
.iphone-1415-pro-3 {
  border-radius: 60px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 61px 24px 17.4px 26px;
  box-sizing: border-box;
}
