.mac-book-pro-1410 .yarkdoo {
  margin-right: 25.5px;
  width: 376.5px;
  overflow-wrap: break-word;
  font-family: 'Irish Grover';
  font-weight: 400;
  font-size: 42px;
  color: #FFFFFF;
}
.yarkdoo-sub301 {
  font-family: 'Irish Grover';
  font-weight: 400;
  font-size: 42px;
  line-height: 1.333;
  background: linear-gradient(180deg, #FF0000 7.06%, rgba(250, 0, 255, 0) 122.8%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.yarkdoo {
  font-family: 'Irish Grover';
  font-weight: 400;
  font-size: 42px;
  line-height: 1.333;
}
.mac-book-pro-1410 .home {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 19px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .popular {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 19px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .genres {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10.6px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .vector-5 {
  width: 15.8px;
  height: 11.9px;
}
.mac-book-pro-1410 .bxsup-arrow {
  margin: 8px 0 7.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15.8px;
  height: 11.9px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .container-7 {
  margin: 19px 0 5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1410 .vector-2 {
  width: 30px;
  height: 26.7px;
}
.mac-book-pro-1410 .mdicrown {
  margin-bottom: 3.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30px;
  height: 26.7px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .vector-4 {
  width: 27.3px;
  height: 27.3px;
}
.mac-book-pro-1410 .material-symbols-lightsearch {
  margin-top: 2.6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 27.3px;
  height: 27.3px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .vector-3 {
  width: 21.3px;
  height: 23.5px;
}
.mac-book-pro-1410 .akar-iconsribbon {
  margin: 4.3px 0 2.1px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 21.3px;
  height: 23.5px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .vector-1 {
  margin: 0 8.3px 6.7px 8.3px;
  width: 10px;
  height: 10px;
}
.mac-book-pro-1410 .vector {
  width: 26.7px;
  height: 10px;
}
.mac-book-pro-1410 .iconamoonprofile {
  margin: 3px 0 0.3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26.7px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1410 .container-4 {
  margin: 15.7px 0 5.4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 212.3px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1410 .container-17 {
  background: #121212;
  position: relative;
  margin-bottom: 41px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42px 67.7px 44px 148px;
  width: 1512px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .romance {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin: 0 148px 43px 148px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .image-34 {
  border-radius: 10px;
  background: url('assets/images/Image341.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-1410 .image-35 {
  border-radius: 10px;
  background: url('assets/images/Image351.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-1410 .image-36 {
  border-radius: 10px;
  background: url('assets/images/Image36.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-1410 .image-37 {
  border-radius: 10px;
  background: url('assets/images/Image371.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-1410 .image-38 {
  border-radius: 10px;
  background: url('assets/images/Image38.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-1410 .container-10 {
  margin: 0 0 37px 148px;
  display: flex;
  flex-direction: row;
  column-gap: 54px;
  width: 1376px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .fruits-basket-final-season {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0 24px 12px 0;
  display: inline-block;
  width: 262px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .kimi-ni-todoke {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .season-3-coming-soon {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1410 .ouran-high-school-host-club {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0 43.5px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .maid-sama {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .ep-27-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .container-6 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1410 .container-18 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-1410 .itazura-na-kiss {
  margin: 0 9.5px 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .ep-25-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .container-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.mac-book-pro-1410 .container-13 {
  margin: 0 44.5px 2px 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1319.5px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .coming-soon {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  width: 562px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .ep-26-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .container-5 {
  margin: 0 148px 43px 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 748.1px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .drama {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0 148px 36px 148px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .image-39 {
  border-radius: 10px;
  background: url('assets/images/Image392.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-1410 .image-40 {
  border-radius: 10px;
  background: url('assets/images/Image40.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-1410 .image-41 {
  border-radius: 10px;
  background: url('assets/images/Image412.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-1410 .image-42 {
  border-radius: 10px;
  background: url('assets/images/Image424.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-1410 .image-43 {
  border-radius: 10px;
  background: url('assets/images/Image43.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-1410 .container-12 {
  margin: 0 0 37px 148px;
  display: flex;
  flex-direction: row;
  column-gap: 54px;
  width: 1376px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .clannad {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 12px;
  width: 274px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .your-lie-in-april {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .plastic-memories {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .anohana {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .the-day-ibecome-agod {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .container-2 {
  margin: 0 0 9px 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1401.3px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .ep-22-end-subtitled-1 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  width: 276px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .ep-22-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .ep-13-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .ep-11-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .ep-12-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .container-1 {
  margin: 0 47.7px 0 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1316.3px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .rectangle-11 {
  border-radius: 0 0 15px 15px;
  background: #505050;
  position: absolute;
  top: 196px;
  right: 201px;
  width: 783px;
  height: 847px;
}
.mac-book-pro-1410 .dragon-ball {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .container-20 {
  border-radius: 30px;
  background: #606060;
  position: relative;
  margin-bottom: 35px;
  padding: 25px 35px 28px 35px;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1410 .image-44 {
  border-radius: 10px;
  background: url('assets/images/Image441.png') 50% / cover no-repeat;
  margin-right: 44px;
  width: 147px;
  height: 221px;
}
.mac-book-pro-1410 .dragon-ball-1 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .end-sub-dub {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .genre-supernatural-shounen {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .son-goku-afighter-with-amonkey-tail-goes-on-aquest-with-an-assortment-of-odd-characters-in-search-of-the-dragon-balls-aset-of-crystals-that-can-give-its-bearer-anything-they-desire {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .container-19 {
  margin: 22px 0 3px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1410 .container-11 {
  margin: 0 0 35px 4.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1410 .image-441 {
  border-radius: 10px;
  background: url('assets/images/Image44.png') 50% / cover no-repeat;
  margin-right: 41px;
  width: 147px;
  height: 221px;
}
.mac-book-pro-1410 .dragon-ball-z {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .end-sub-dub-1 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .genre-supernatural-shounen-1 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .with-the-help-of-the-powerful-dragonballs-ateam-of-fighters-led-by-the-saiyan-warrior-goku-defend-the-planet-earth-from-extraterrestrial-enemies {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .container-8 {
  margin: 19px 0 29px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1410 .container-16 {
  margin: 0 26.1px 35px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1410 .image-45 {
  border-radius: 10px;
  background: url('assets/images/Image451.png') 50% / cover no-repeat;
  margin-right: 41px;
  width: 147px;
  height: 221px;
}
.mac-book-pro-1410 .dragon-ball-gt {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .end-sub-dub-2 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .genre-supernatural-shounen-2 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .after-goku-is-made-akid-again-by-the-black-star-dragon-balls-he-goes-on-ajourney-to-get-back-to-his-old-self {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-1410 .container-3 {
  margin: 15px 0 56px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-1410 .container-15 {
  margin: 0 0 16px 8.3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-1410 .vector-6 {
  width: 15.8px;
  height: 11.9px;
}
.mac-book-pro-1410 .bxsup-arrow-1 {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15.8px;
  height: 11.9px;
  box-sizing: border-box;
}
.mac-book-pro-1410 .container-14 {
  background: rgba(18, 18, 18, 0.85);
  position: absolute;
  right: -21px;
  bottom: -7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  width: 1533px;
  height: 1153px;
  box-sizing: border-box;
}
.mac-book-pro-1410 {
  background: #000000;
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
  width: 1512px;
  box-sizing: border-box;
}
