.mac-book-pro-143 .yarkdoo {
  margin-right: 25.5px;
  width: 376.5px;
  overflow-wrap: break-word;
  font-family: 'Irish Grover';
  font-weight: 400;
  font-size: 42px;
  color: #FFFFFF;
}
.yarkdoo-sub301 {
  font-family: 'Irish Grover';
  font-weight: 400;
  font-size: 42px;
  line-height: 1.333;
  background: linear-gradient(180deg, #FF0000 7.06%, rgba(250, 0, 255, 0) 122.8%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.yarkdoo {
  font-family: 'Irish Grover';
  font-weight: 400;
  font-size: 42px;
  line-height: 1.333;
}
.mac-book-pro-143 .home {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 19px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-143 .popular {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 19px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-143 .genres {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10.6px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-143 .vector-5 {
  width: 15.8px;
  height: 11.9px;
}
.mac-book-pro-143 .bxsup-arrow {
  margin: 8px 0 7.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15.8px;
  height: 11.9px;
  box-sizing: border-box;
}
.mac-book-pro-143 .container-1 {
  margin: 19px 0 5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-143 .vector-2 {
  width: 30px;
  height: 26.7px;
}
.mac-book-pro-143 .mdicrown {
  margin-bottom: 3.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30px;
  height: 26.7px;
  box-sizing: border-box;
}
.mac-book-pro-143 .vector-4 {
  width: 27.3px;
  height: 27.3px;
}
.mac-book-pro-143 .material-symbols-lightsearch {
  margin-top: 2.6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 27.3px;
  height: 27.3px;
  box-sizing: border-box;
}
.mac-book-pro-143 .vector-3 {
  width: 21.3px;
  height: 23.5px;
}
.mac-book-pro-143 .akar-iconsribbon {
  margin: 4.3px 0 2.1px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 21.3px;
  height: 23.5px;
  box-sizing: border-box;
}
.mac-book-pro-143 .vector-1 {
  margin: 0 8.3px 6.7px 8.3px;
  width: 10px;
  height: 10px;
}
.mac-book-pro-143 .vector {
  width: 26.7px;
  height: 10px;
}
.mac-book-pro-143 .iconamoonprofile {
  margin: 3px 0 0.3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26.7px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-143 .container-8 {
  margin: 15.7px 0 5.4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 212.3px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-143 .container {
  background: #121212;
  position: relative;
  margin-bottom: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42px 67.7px 44px 148px;
  width: 1512px;
  box-sizing: border-box;
}
.mac-book-pro-143 .romance {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0 148px 43px 148px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.mac-book-pro-143 .image-14 {
  border-radius: 10px;
  background: url('assets/images/Image341.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-143 .image-15 {
  border-radius: 10px;
  background: url('assets/images/Image351.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-143 .image-16 {
  border-radius: 10px;
  background: url('assets/images/Image36.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-143 .image-17 {
  border-radius: 10px;
  background: url('assets/images/Image371.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-143 .image-18 {
  border-radius: 10px;
  background: url('assets/images/Image38.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-143 .container-11 {
  margin: 0 0 37px 148px;
  display: flex;
  flex-direction: row;
  column-gap: 54px;
  width: 1376px;
  box-sizing: border-box;
}
.mac-book-pro-143 .fruits-basket-final-season {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0 24px 5px 0;
  display: inline-block;
  width: 262px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-143 .kimi-ni-todoke {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-143 .season-3-coming-soon {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-143 .container-7 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-143 .ouran-high-school-host-club {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0 43.5px 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-143 .maid-sama {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-143 .ep-27-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-143 .container-4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-143 .container-9 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-143 .itazura-na-kiss {
  margin: 0 9.5px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-143 .ep-25-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-143 .container-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.mac-book-pro-143 .container-12 {
  margin: 0 44.5px 2px 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1319.5px;
  box-sizing: border-box;
}
.mac-book-pro-143 .coming-soon {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  width: 562px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-143 .ep-26-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-143 .container-6 {
  margin: 0 148px 43px 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 748.1px;
  box-sizing: border-box;
}
.mac-book-pro-143 .drama {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0 148px 43px 148px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.mac-book-pro-143 .image-19 {
  border-radius: 10px;
  background: url('assets/images/Image392.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-143 .image-20 {
  border-radius: 10px;
  background: url('assets/images/Image40.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-143 .image-21 {
  border-radius: 10px;
  background: url('assets/images/Image412.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-143 .image-22 {
  border-radius: 10px;
  background: url('assets/images/Image424.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-143 .image-23 {
  border-radius: 10px;
  background: url('assets/images/Image43.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-143 .container-3 {
  margin: 0 0 33px 148px;
  display: flex;
  flex-direction: row;
  column-gap: 54px;
  width: 1376px;
  box-sizing: border-box;
}
.mac-book-pro-143 .clannad {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0 12px 4px 0;
  display: inline-block;
  width: 274px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-143 .your-lie-in-april {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-top: 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-143 .plastic-memories {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-top: 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-143 .anohana {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-top: 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-143 .the-day-ibecome-agod {
  margin: 4px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-143 .container-5 {
  margin: 0 0 9px 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1401.3px;
  box-sizing: border-box;
}
.mac-book-pro-143 .ep-22-end-subtitled-1 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  width: 276px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-143 .ep-22-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-143 .ep-13-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-143 .ep-11-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-143 .ep-12-end-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-143 .container-2 {
  margin: 0 47.7px 0 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1316.3px;
  box-sizing: border-box;
}
.mac-book-pro-143 {
  background: #000000;
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
  width: 1512px;
  box-sizing: border-box;
}
