.mac-book-pro-142 .yarkdoo {
  margin-right: 25.5px;
  width: 376.5px;
  overflow-wrap: break-word;
  font-family: 'Irish Grover';
  font-weight: 400;
  font-size: 42px;
  color: #FFFFFF;
}
.yarkdoo-sub301 {
  font-family: 'Irish Grover';
  font-weight: 400;
  font-size: 42px;
  line-height: 1.333;
  background: linear-gradient(180deg, #FF0000 7.06%, rgba(250, 0, 255, 0) 122.8%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.yarkdoo {
  font-family: 'Irish Grover';
  font-weight: 400;
  font-size: 42px;
  line-height: 1.333;
}
.mac-book-pro-142 .home {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 19px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-142 .popular {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 19px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-142 .genres {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10.6px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.mac-book-pro-142 .vector-5 {
  width: 15.8px;
  height: 11.9px;
}
.mac-book-pro-142 .bxsup-arrow {
  margin: 8px 0 7.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15.8px;
  height: 11.9px;
  box-sizing: border-box;
}
.mac-book-pro-142 .container-10 {
  margin: 19px 0 5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-142 .vector-2 {
  width: 30px;
  height: 26.7px;
}
.mac-book-pro-142 .mdicrown {
  margin-bottom: 3.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30px;
  height: 26.7px;
  box-sizing: border-box;
}
.mac-book-pro-142 .vector-4 {
  width: 27.3px;
  height: 27.3px;
}
.mac-book-pro-142 .material-symbols-lightsearch {
  margin-top: 2.6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 27.3px;
  height: 27.3px;
  box-sizing: border-box;
}
.mac-book-pro-142 .vector-3 {
  width: 21.3px;
  height: 23.5px;
}
.mac-book-pro-142 .akar-iconsribbon {
  margin: 4.3px 0 2.1px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 21.3px;
  height: 23.5px;
  box-sizing: border-box;
}
.mac-book-pro-142 .vector-1 {
  margin: 0 8.3px 6.7px 8.3px;
  width: 10px;
  height: 10px;
}
.mac-book-pro-142 .vector {
  width: 26.7px;
  height: 10px;
}
.mac-book-pro-142 .iconamoonprofile {
  margin: 3px 0 0.3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26.7px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-142 .container-4 {
  margin: 15.7px 0 5.4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 212.3px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-142 .container-1 {
  background: #121212;
  position: relative;
  margin-bottom: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 42px 67.7px 44px 148px;
  width: 1512px;
  box-sizing: border-box;
}
.mac-book-pro-142 .most-popular-watch {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0 148px 53px 148px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.mac-book-pro-142 .image-3 {
  border-radius: 10px;
  background: url('assets/images/Image32.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-142 .image-5 {
  border-radius: 10px;
  background: url('assets/images/Image5.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-142 .image-7 {
  border-radius: 10px;
  background: url('assets/images/Image7.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-142 .image-6 {
  border-radius: 10px;
  background: url('assets/images/Image61.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-142 .image-8 {
  border-radius: 10px;
  background: url('assets/images/Image8.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-142 .container-8 {
  margin: 0 0 19px 148px;
  display: flex;
  flex-direction: row;
  column-gap: 54px;
  width: 1376px;
  box-sizing: border-box;
}
.mac-book-pro-142 .freieren-beyound-journey-send {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 0 49.4px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-142 .spy-xfamily {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-142 .ep-13-updated-sub-dub {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-142 .container-5 {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-142 .container-11 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-pro-142 .ragna-crimson {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-142 .ep-13-updated-subtitled-1 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-142 .container-3 {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-142 .shadow-garden-senson-2 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin: 4px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-142 .container {
  margin: 0 148px 2px 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1078.4px;
  box-sizing: border-box;
}
.mac-book-pro-142 .ep-13-updated-subtitled {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  width: 848px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-142 .ep-13-updated-sub-dub-1 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-142 .ep-13-updated-sub-dub-2 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-142 .container-6 {
  margin: 0 9.1px 39px 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1354.9px;
  box-sizing: border-box;
}
.mac-book-pro-142 .image-9 {
  border-radius: 10px;
  background: url('assets/images/Image91.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-142 .image-10 {
  border-radius: 10px;
  background: url('assets/images/Image101.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-142 .image-11 {
  border-radius: 10px;
  background: url('assets/images/Image11.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-142 .image-12 {
  border-radius: 10px;
  background: url('assets/images/Image12.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-142 .image-13 {
  border-radius: 10px;
  background: url('assets/images/Image441.png') 50% / cover no-repeat;
  width: 232px;
  height: 348px;
}
.mac-book-pro-142 .container-9 {
  margin: 0 0 35px 148px;
  display: flex;
  flex-direction: row;
  column-gap: 54px;
  width: 1376px;
  box-sizing: border-box;
}
.mac-book-pro-142 .goblin-slayer {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 12px;
  width: 274px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-142 .one-piece {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-142 .naruto {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-142 .bleach {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mac-book-pro-142 .dragon-ball {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-142 .container-2 {
  margin: 0 75.7px 9px 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1288.3px;
  box-sizing: border-box;
}
.mac-book-pro-142 .ep-13-updated-subtitled-2 {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  width: 276px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-142 .ep-1000-updated-sub-dub {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-142 .ep-222-end-sub-dub {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-142 .ep-333-end-sub-dub {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-142 .ep-444-end-sub-dub {
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
}
.mac-book-pro-142 .container-7 {
  margin: 0 36.5px 0 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1327.5px;
  box-sizing: border-box;
}
.mac-book-pro-142 .the-rising-of-the-shield-hero-season-3 {
  position: absolute;
  right: -10.4px;
  bottom: 562px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
}
.mac-book-pro-142 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #000000;
  display: flex;
  flex-direction: column;
  padding-bottom: 81px;
  width: 1512px;
  box-sizing: border-box;
}
