.property-1-variant-3 .image-39 {
  background: url('assets/images/Image39.png') 50% / cover no-repeat;
  width: 22px;
  height: 22px;
}
.property-1-variant-3 .search-your-favourite-food {
  margin-top: 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  color: #D9D9D9;
}
.property-1-variant-3 {
  border-radius: 5px;
  border: 2px solid #B4B4B4;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 0 10px 15px;
  box-sizing: border-box;
}
